.preLoginWrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
}

.mainCard {
  width: 100%;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  border-radius: 0.8rem;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 38rem;

  @media (min-width: 768px) {
    aspect-ratio: 1520 / 748;
    max-height: 40rem;
  }
}

.cardContent {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1.6rem;
  width: 100%;
  max-width: 100%;
  min-width: 0;

  @media (min-width: 768px) {
    min-height: 0;
    gap: 2.4rem;
  }
}

.mainCardTitle {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 1.9rem;
  }
}

.mainCardText {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.connectorSlot {
  align-self: center;
  width: fit-content;
}

.cardBg {
  position: absolute;
  width: 80rem;
  max-width: none;
  height: auto;
  aspect-ratio: 1520 / 748;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  pointer-events: none;

  @media (min-width: 768px) {
    max-height: 40rem;
    width: auto;
  }
}
