/* Common button styles */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  border-radius: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.button.loading {
  cursor: not-allowed;
  opacity: 1;
}

.button.disabled {
  cursor: not-allowed;
  opacity: 0.35;
}

/* Variants */
.primary {
  background-color: var(--primary-500);
  color: var(--white);
}

.primary:hover {
  background-color: var(--primary-600);
}

.primary:active {
  background-color: var(--primary-700);
}

.secondary {
  background-color: var(--primary-200-or-primary-600);
  color: var(--primary-500-or-white);
}

.secondary:hover {
  background-color: var(--primary-250-or-primary-700);
}

.secondary:active {
  background-color: var(--primary-300-or-primary-800);
}

.outlined {
  background-color: transparent;
  color: var(--primary-text);
  border: 1px solid var(--primary-500-or-white);
}

.outlined:hover {
  color: var(--primary-600-or-primary-300);
  border-color: var(--primary-600-or-primary-300);
}

.outlined:active {
  color: var(--primary-700);
  border-color: var(--primary-700);
  background-color: var(--grey-200-card);
}

.info-blue-outlined {
  background-color: transparent;
  color: var(--info-300-or-white);
  border: 1px solid var(--info-300-or-white);
}

.info-blue-outlined:hover {
  color: var(--info-400-or-info-100);
  border-color: var(--info-400-or-info-100);
}

.info-blue-outlined:active {
  color: var(--info-500-or-info-200);
  border-color: var(--info-500-or-info-200);
}

.white {
  background-color: white;
  color: var(--primary-500);
}

.white:hover {
  color: var(--primary-600);
}

.white:active {
  color: var(--primary-700);
  background-color: var(--grey-200);
}

.highlighted {
  background-color: var(--primary-200-or-primary-500);
  color: var(--primary-500-or-white);
  border: 1px solid var(--primary-300-or-primary-500);
  padding: 0.4rem 1.6rem;
}

.highlighted:hover {
  background-color: var(--primary-250-or-primary-600);
}

.highlighted:active {
  background-color: var(--primary-300-or-primary-700);
}

.hyperliquid {
  background-color: var(--hl-aquamarine);
  color: var(--hl-firefly);
  border: 1px solid var(--hl-aquamarine);
}

.hyperliquid:hover {
  background-color: var(--hl-aquamarine);
  opacity: 0.9;
}

.hyperliquid:active {
  background-color: var(--hl-aquamarine);
  opacity: 0.8;
}

.hyperliquid-white {
  background-color: white;
  color: var(--hl-firefly);
}

.hyperliquid-white:hover {
  color: var(--hl-firefly);
  opacity: 0.9;
}

.hyperliquid-white:active {
  color: var(--hl-firefly);
  background-color: var(--grey-200);
}

.navigation {
  background-color: transparent;
  color: var(--primary-500-or-white);
}

.navigation:hover {
  background-color: var(--primary-100-or-secondary-400);
}

.navigation:active {
  background-color: var(--primary-200-or-secondary-300);
}

/* Sizes */
.small {
  font-size: 1.2rem;
  padding: 0 1.2rem;
  height: 3.2rem;
  gap: 0.6rem;
}

.medium {
  font-size: 1.4rem;
  padding: 0 1.2rem;
  height: 4rem;

  @media (min-width: 768px) {
    padding: 0 2.4rem;
  }
}

.large {
  font-size: 1.6rem;
  padding: 0 7rem;
  height: 4rem;
}

/* Wide/full width */
.wide {
  width: 100%;
}

/* Rounded */
.rounded {
  border-radius: 4.8rem;
}

/* Right-aligned */
.right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Icon */
.icon {
  height: 2.3rem;
}
