.sharecardControls {
  padding: 0.8rem 2rem 0.8rem 2rem;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--grey-100-or-secondary-500);
  border-top: 1px solid var(--grey-200-or-secondary-300);
}

.toggleContainer {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  span {
    color: var(--grey-500-or-white);
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.iconsContainer {
  display: flex;
  gap: 1.2rem;

  button {
    cursor: pointer;
    height: 2.4rem;
    transition: opacity 0.25s;
    opacity: 1;

    &:hover {
      opacity: 0.75;
    }
  }
}
