.tokenInformationDropdownHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  color: var(--primary-500-or-white);
  margin-bottom: 1rem;
  cursor: pointer;
}

.chevron {
  line-height: 0;
}

.tokenInformationDropdownContent {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-evenly;

  @media (min-width: 420px) {
    flex-direction: row;
    gap: 2rem;
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1.2rem;
  color: var(--grey-400-or-white);
  font-weight: 300;

  span {
    color: var(--grey-600-or-white);
    font-size: 1.2rem;
    font-weight: 300;

    a {
      font-size: 1.2rem;
      font-weight: 300;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.4rem;

      .icon {
        padding-bottom: 0.1rem;
        align-items: center;
        justify-content: center;
        display: flex;
      }
    }
  }

  @media (min-width: 420px) {
    justify-content: center;
    align-items: center;
  }
}
