.inviteCodes {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  z-index: 1;
  position: relative;
}

.notClickable {
  pointer-events: none;

  h2 {
    opacity: 0.5;
  }

  .helpText {
    opacity: 0.5;
  }
}

.isTransparent {
  opacity: 0.5;
  pointer-events: none;
}

.helpText {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1.6rem;
}

.resign {
  cursor: pointer;
  color: var(--primary-500-or-white);
}

.header {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 0 1.2rem 0;
  color: var(--grey-600-or-white);
}

.codeContainer {
  display: flex;
  width: 100%;
}

.code {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--primary-500);
  height: 4rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--main);
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}

.usedContainer {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  margin-right: 2rem;
}

.usedIcon {
  width: 2.2rem;
}

.usedText {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--main);
}

.helpText {
  height: 1.8rem;
}

.buttonContainer {
  width: 10rem;
}
