.headerContainer {
  width: calc(100% - 3.2rem);
  max-width: 86rem;
  position: relative;

  @media (min-width: 900px) {
    width: 100%;
  }
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-focus);
  height: 4.8rem;
  border-radius: 2.4rem;
  padding: 0 1.1rem 0 1.6rem;
  box-shadow: 0px 0px 0.4rem 0px var(--box-shadow-header);
  z-index: 130;
}

.header,
.dropdownNav {
  transition:
    background-color 0.25s ease,
    color 0.25s ease,
    border-radius 0.25s ease;
}

.open {
  border-radius: 2.4rem 2.4rem 0 0;
}

.container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.hamburgerContainer {
  @media (min-width: 900px) {
    display: none;
  }
}

.section {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  @media (min-width: 900px) {
    gap: 1.5rem;
  }
}

.ctas {
  display: flex;
  align-items: center;
  gap: 1rem;

  @media (min-width: 480px) {
    gap: 1.5rem;
  }
}

.themeToggleContainer {
  display: none;
  @media (min-width: 900px) {
    display: flex;
  }
}

.nav {
  display: none;

  @media (min-width: 900px) {
    display: flex;
    gap: 2.4rem;
    a {
      text-decoration: none;
    }
  }
}

.navLink {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--main);
  transition:
    font-weight 0.25s ease-in-out,
    color 0.25s ease-in-out;
}

.navLink:hover {
  font-weight: 500;
}

.activeNavLink {
  font-weight: 600;
}

.activeNavLink:hover {
  font-weight: 700;
}

.disabledNavLink {
  opacity: 0.3;
  cursor: not-allowed;
}

.dropdownBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 120;
  background-color: var(--grey-600);
  opacity: 0;
  transition: opacity 0.25s ease;
  pointer-events: none;
}

.openBackground {
  opacity: 0.8;
  pointer-events: auto;
}

.dropdownNav {
  display: flex;
  flex-direction: column;
  padding: 1.6rem 2.2rem;
  gap: 1.6rem;
  background: var(--bg-focus);
  position: absolute;
  width: 100%;
  z-index: 120;
  border-radius: 0 0 2.4rem 2.4rem;
  box-shadow: 0rem 0rem 0.4rem 0rem var(--box-shadow-header);

  a {
    text-decoration: none;
    line-height: unset;
  }

  @media (min-width: 900px) {
    display: none;
  }
}

.dropdownNavLink {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--main);
  border-radius: 0.8rem;
  padding: 0.4rem;
  width: fit-content;
}

.activeDropdownNavLink {
  font-weight: 600;
}

.shimmer {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.shimmer::after {
  content: "";
  position: absolute;
  inset: -150% -50%;
  aspect-ratio: 1 / 1;
  background: linear-gradient(
    120deg,
    transparent 30%,
    var(--bg-focus) 50%,
    transparent 70%
  );
  opacity: 0.8;
  transform: rotate(25deg);
  animation: shimmerSweep 4s linear infinite;
  z-index: 2;
  pointer-events: none;
}

@keyframes shimmerSweep {
  0% {
    transform: translateX(-100%) rotate(25deg);
  }
  /* sweep happens quickly */
  40% {
    transform: translateX(100%) rotate(25deg);
  }
  /* then it pauses */
  100% {
    transform: translateX(100%) rotate(25deg);
  }
}
