.dropdown {
  background-color: var(--bg-focus);
  border-radius: 0 0.8rem 0.8rem 0.8rem;
  z-index: 20;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;

  table {
    border-spacing: 0;
    padding: 2.4rem 1.2rem;
  }

  td {
    border-top: 1px solid var(--grey-200);
    font-variant-numeric: tabular-nums;
  }

  th,
  td {
    cursor: pointer;
    text-align: left;
    padding: 0.6rem 1.2rem 0.6rem 0;
    height: 3.2rem;
    font-size: 1.2rem;
    border-radius: 0 !important;
    white-space: nowrap;
  }

  table tbody tr:hover td {
    background-color: var(--grey-50-or-secondary-300);
  }

  table tbody tr:has(.noResults):hover td {
    background-color: transparent;
    cursor: default;
  }

  .change {
    text-align: end;
    justify-content: flex-end;
  }

  @media (min-width: 768px) {
    position: absolute;
    top: unset;
    left: unset;
    height: unset;
    width: fit-content;
    min-width: 50rem;
    z-index: 2;

    table {
      padding: 1.2rem;
    }

    td {
      border-top: 0px solid var(--grey-200);
    }

    th,
    td {
      padding: 0.6rem 3.2rem 0.6rem 0;
      height: 3.2rem;
    }

    .change {
      text-align: left;
      justify-content: flex-start;
    }

    tr td:first-child {
      border-top-left-radius: 0.8rem !important;
      border-bottom-left-radius: 0.8rem !important;
    }

    tr td:last-child {
      border-top-right-radius: 0.8rem !important;
      border-bottom-right-radius: 0.8rem !important;
    }

    tr th:first-child {
      border-top-left-radius: 0.8rem !important;
      border-bottom-left-radius: 0.8rem !important;
    }

    tr th:last-child {
      border-top-right-radius: 0.8rem !important;
      border-bottom-right-radius: 0.8rem !important;
    }

    tr.selected td {
      background-color: var(--grey-100-or-secondary-300);
    }
  }
}

.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  padding: 1.2rem 1.2rem 0;

  input {
    flex: 1;
    height: 3.2rem;
    padding: 0 1.2rem;
    border-radius: 0.8rem;
    border: 1px solid var(--grey-200-or-primary-500);
    font-size: 1.2rem;
    width: 100%;
    color: var(--main);
  }

  input:hover {
    border: var(--grey-300) solid 1px;
  }

  input:focus {
    border: var(--primary-500) solid 1px;
  }
}

.header {
  padding: 1.2rem 1.2rem 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  @media (min-width: 768px) {
    display: none;
  }
}

.coinCell {
  display: flex;
  align-items: center;

  span {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--grey-500-or-white);
    margin-left: 0.4rem;
  }

  img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    flex-shrink: 0;
    vertical-align: middle;
    margin-left: 0.4rem;
  }
}

.tokenDropdownBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: var(--grey-600);
  opacity: 0;
  transition: opacity 0.25s ease;
  pointer-events: none;

  @media (min-width: 768px) {
    z-index: 1;
  }
}

.openBackground {
  pointer-events: auto;
}

.noResults {
  padding: 1.6rem 0;
}

.noResultsInner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
