.intervalSelectorContainer {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin: 1rem 0;
  padding-right: 1rem;

  @media (min-width: 768px) {
    gap: 1.6rem;
  }
}

.intervalSelector {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  button {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 2.4rem;
    cursor: pointer;
    color: var(--grey-500-or-white);

    &.active {
      background: var(--primary-300);
      color: var(--grey-500);
    }

    &:hover {
      background: var(--primary-250);
      color: var(--grey-500);
    }
  }

  @media (min-width: 768px) {
    gap: 0.8rem;
  }
}

.label {
  font-size: 1rem;
  font-weight: 500;
  color: var(--grey-400);

  @media (min-width: 768px) {
    font-size: 1.2rem;
  }
}

.toggleLabel {
  font-size: 1rem;
  font-weight: 300;
  color: var(--text);

  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

.toggleMarkersContainer {
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity 0.25s ease;
}

.markerToggle {
  * {
    height: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    cursor: pointer;
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
  cursor: none;

  * {
    pointer-events: none;
    cursor: none;
  }
}
