.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--primary-500);
  padding: 2.4rem;
  z-index: 90;
  border-radius: 0.8rem;

  @media (min-width: 768px) {
    padding: 4.8rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 90rem;
  gap: 2.4rem;

  @media (min-width: 768px) {
    gap: 4.8rem;
  }
}

.title {
  display: flex;
  font-size: 3rem;
  font-weight: 400;
  color: var(--white);
  text-align: center;
  margin: 0;
  line-height: unset;

  img {
    line-height: 0;
    height: 4rem;
  }

  @media (min-width: 768px) {
    font-size: 3.4rem;

    img {
      line-height: 0;
      height: 4.2rem;
    }
  }
}

.buttonContainer {
  * {
    font-size: 1.4rem;
    font-weight: 400;
  }
}
