.dropdownContainer {
  display: flex;
  flex-direction: column;
}

.dropdownButton {
  height: 4rem;
  min-width: 12rem;
  background-color: var(--bg-focus);
  border-radius: 0.6rem;
  padding: 0.8rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition:
    border-radius 0.25s ease,
    box-shadow 0.25s ease;
  cursor: pointer;
  box-shadow: 0px 0px 0.4rem 0px var(--box-shadow-header);

  span {
    color: var(--main);
  }

  &:hover {
    box-shadow: 0px 0px 0.8rem 0px var(--box-shadow-header-hover);
  }
}

.open {
  border-radius: 0.6rem 0.6rem 0 0;
  box-shadow: 0px 0px 0.4rem 0px var(--box-shadow-header);
  z-index: 3;
}

.coinCell {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--grey-500);
  margin-right: 0.4rem;

  img {
    max-height: 1.6rem;
  }
}
