.toast {
  position: fixed;
  bottom: 3rem;
  padding: 0.8rem 1.2rem;
  margin: 0 1.6rem;
  border-radius: 0.8rem;
  max-width: 60rem;

  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.4rem;

  z-index: 9999;
  pointer-events: auto;

  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    pointer-events: auto;
  }

  @media (min-width: 768px) {
    padding: 1.6rem 2.4rem;
    top: unset;
    bottom: 5rem;
    right: 4rem;
  }
}

.success {
  color: var(--success-300);
  background-color: var(--success-100);
}
.error {
  color: var(--error-300);
  background-color: var(--error-100);
}
.warning {
  color: var(--warning-300);
  background-color: var(--warning-100);
}
.info {
  color: var(--info-300);
  background-color: var(--info-100);
}
