.informationTable {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}

.informationRow {
  display: flex;
  gap: 0.8rem;
  justify-content: space-between;
  padding: 0.2rem 0.8rem;
  border-bottom: 1px solid var(--grey-300-or-secondary-300);
  color: var(--grey-500-or-white);

  span:first-child {
    font-weight: 300;
  }

  span {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
}

.hoverable {
  position: relative;
  top: -2px;
  gap: 0.1rem !important;
}

.underlined {
  text-decoration: underline dotted;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  font-weight: 400 !important;
}
