:root {
  --tv-color-platform-background: transparent;
  --color-pane-bg: transparent;

  --color-chart-page-bg: transparent;
}

html,
body {
  background: transparent !important;
}

html.theme-dark {
  color-scheme: normal;
  background: transparent !important;
}
