.dotsContainer {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 6rem;
}

.dot {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: var(--primary-200-or-primary-800);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.activeDot {
  background-color: var(--primary-500);
}
