.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.inputBody {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  justify-content: space-between;

  input {
    flex: 1;
    height: 3.2rem;
    padding: 0 1.2rem;
    border-radius: 0.8rem;
    border: 1px solid var(--grey-200-or-primary-500);
    font-size: 1.2rem;
    width: 100%;
    color: var(--main);

    &.error {
      border: 1px solid var(--error-200) !important;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  input:hover {
    border: var(--grey-300) solid 1px;

    &:disabled {
      border: 1px solid var(--grey-200-or-primary-500);
      opacity: 0.5;
    }
  }

  input:focus {
    border: var(--primary-500) solid 1px;
  }

  button {
    height: 3.2rem;
    padding: 0.6rem 1.2rem;
    border-radius: 0.8rem;
    border: 1px solid var(--primary-500);
    color: var(--primary-500-or-white);
    font-size: 1.4rem;
  }

  button:hover {
    color: var(--primary-400-or-white);
    border: var(--primary-400) solid 1px;
  }

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.errorMessage {
  color: var(--error-200);
}

.baseCurrency {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.4rem;

  img {
    width: 1.6rem;
    height: 1.6rem;
  }
}
