.mobileTitleContainer {
  margin-bottom: 2rem;
  @media (min-width: 1024px) {
    display: none;
  }
}

.interfaceContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: 1024px) {
    position: relative;
  }
}

.inputContainer {
  width: 100%;
  border-radius: 0.8rem;
  background-color: var(--bg-focus);
  margin-top: -2.8rem;
  overflow: hidden;

  @media (min-width: 1024px) {
    position: absolute;
    margin-top: 0;
    top: 2rem;
    right: 0;
    width: 36.4rem;
  }
}
