.wrapper {
  width: 32rem;
  height: 32rem;
  position: relative;

  @media (min-width: 1180px) {
    width: 40rem;
    height: 40rem;
  }
}

.token {
  position: absolute;
  top: 50%;
  left: 52%;
  transition: transform 1.2s cubic-bezier(0.2, 0.9, 0.2, 1);
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 1180px) {
    left: 60%;
  }
}

.tokenImg {
  width: 120px;
  height: 120px;
  display: block;
  user-select: none;
  cursor: pointer;

  @media (min-width: 1180px) {
    width: 160px;
    height: 160px;
  }
}

.activeToken .tokenImg {
  transform: scale(1.4) rotate(-12deg);
  filter: blur(0);
  transition:
    transform 1.2s ease,
    filter 1.2s ease;
}

.inactiveToken .tokenImg {
  transform: scale(1) rotate(12deg);
  filter: blur(2.5px);
  transition: transform 1.2s ease;
  transition:
    transform 1.2s ease,
    filter 1.2s ease;
}

.token0.inactiveToken .tokenImg {
  transform: scale(1) rotate(-8deg);
}

.token1.inactiveToken .tokenImg {
  transform: scale(1) rotate(14deg);
}

.token2.inactiveToken .tokenImg {
  transform: scale(1) rotate(0deg);
}
