.container {
  width: 100%;
  max-width: 115.6rem;
  padding: 2rem 1.6rem 8rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: start;
  position: relative;
}

.wide {
  max-width: 160rem;
}
