.banner {
  background-color: var(--info-bg);
  padding: 1.2rem 2.2rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.bannerText {
  color: var(--info-300-or-white);
  font-size: 1.3rem;
  font-weight: 500;

  span {
    font-size: 1.3rem;
    font-weight: 700;
  }
}

.bannerActions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.buttonContainer {
  width: 14.4rem;
}

.closeIcon {
  display: flex;
  align-items: center;
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.25s ease;
}

.closeIcon:hover {
  opacity: 0.7;
}
