.switchWrapper {
  position: relative;
  width: 6rem;
  height: 3.2rem;
}

.hiddenCheckbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grey-100-or-secondary-600);
  border-radius: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s;
}

.slider:hover {
  background-color: var(--grey-200-or-secondary-700);
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.4rem;
  width: 2.4rem;
  top: 50%;
  left: 0.4rem;
  transform: translateY(-50%);
  background-color: var(--primary-500);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.6rem;
  border-radius: 50%;
  transition:
    transform 0.25s,
    background-color 0.25s;
}

.slider:hover:before {
  background-color: var(--primary-600);
}

.hiddenCheckbox:checked + .slider:before {
  transform: translateX(2.8rem) translateY(-50%);
  background-image: url("/src/assets/dark.svg");
}

.hiddenCheckbox:not(:checked) + .slider:before {
  background-image: url("/src/assets/light.svg");
}
