.card {
  gap: 2.4rem;
  padding: 1.2rem 1.6rem;

  &.claimCard {
    background-color: var(--bg-focus);
    border-radius: 0.8rem;
  }

  &.statCard {
    border-top: 1px solid var(--grey-300);
  }
}

.cardTitleContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.cardTitle {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;

  &.claimCardTitle {
    color: var(--primary-text);
  }

  &.statCardTitle {
    color: var(--grey-400);
  }
}

.valueContainer {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  margin: 1.2rem 0 1.6rem;
  align-items: center;
}

.value {
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin-top: 1.2rem;
  transition: color 0.2s ease;

  &.claimValue {
    color: var(--primary-text);
    margin: 0;
  }

  &.statValue {
    color: var(--grey-500-or-white);
  }

  &.blurred {
    color: var(--primary-text);
    opacity: 1;
    filter: blur(4px);
  }
}

.noValue {
  margin: 1.6rem 0;
  color: var(--grey-400-or-white);
  opacity: 0.8;
}

.snapshot {
  color: var(--grey-400-or-white);
  font-size: 1.1rem;
  font-weight: 300;
}

.replay {
  color: var(--primary-500-or-white);
  font-size: 1.1rem;
  font-weight: 300;
  text-align: center;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;
  width: 100%;
  cursor: pointer;
}
