.tokenStats {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0 1rem;
}

.stat {
  display: flex;
  flex-direction: column;
  white-space: nowrap;

  * {
    font-size: 1.2rem;
    font-weight: 300;
  }

  p {
    margin: auto 0;
    color: var(--grey-400-or-white);
  }

  span {
    color: var(--grey-500-or-white);
    font-variant-numeric: tabular-nums;
  }
}

.tokenStatsWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: auto 0;
  padding: 0 0.1rem;
}

.tokenStatsWrapper:before,
.tokenStatsWrapper:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1rem;
  pointer-events: none;
  z-index: 1;
}

.tokenStatsWrapper:before {
  left: 0;
  background: linear-gradient(
    to right,
    var(--primary-200-or-secondary-700),
    transparent
  );
}

.tokenStatsWrapper:after {
  right: 0;
  background: linear-gradient(
    to left,
    var(--primary-200-or-secondary-700),
    transparent
  );
}

@media (min-width: 1024px) {
  .tokenStatsWrapper:after {
    right: 0;
    background: linear-gradient(
      to left,
      var(--token-stats-gradient),
      transparent
    );
  }
}

.tokenStats::-webkit-scrollbar {
  display: none;
}
