.card {
  background: linear-gradient(135deg, var(--hl-aquamarine), var(--hl-ebony));
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 0;
  container-type: inline-size;
}

.logoContainer {
  position: absolute;
  top: 1.6rem;

  @media (min-width: 768px) {
    top: 2.4rem;
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  container-type: inline-size;

  span {
    background: linear-gradient(135deg, var(--hl-foam), var(--hl-aquamarine));
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 500;
    filter: drop-shadow(0 0 2px var(--hl-foam));
  }
}

.hyperliquidContainer {
  display: flex;
  width: 20rem;
  margin-top: 2rem;
  margin-bottom: 0.8rem;

  @media (min-width: 768px) {
    width: 33rem;
  }
}

.liquidations {
  font-size: 11.5cqw;
  line-height: 1.4;
}

.wrapped {
  font-size: 16.5cqw;
  line-height: 1.2;
}

.firstTradeIntro {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-size: 1.2rem;
  color: var(--hl-foam);
  padding-top: 0.4rem;
  padding-bottom: 1.6rem;

  @media (min-width: 768px) {
    font-size: 1.6rem;
    padding-bottom: 2.4rem;
  }
}

.firstTrade {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.7)
  );
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);

  @media (min-width: 768px) {
    padding: 1rem 2rem;
  }
}

.firstTradeDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  span {
    font-size: 1.2rem;
    color: var(--hl-firefly);
  }

  .timestamp {
    font-size: 1rem;
    opacity: 0.9;
    margin-bottom: 0.4rem;
    @media (min-width: 768px) {
      font-size: 1.2rem;
      margin-bottom: 0.8rem;
    }
  }

  .assetName {
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.8rem;

    @media (min-width: 768px) {
      font-size: 1.6rem;
    }
  }

  .positionDirection {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    opacity: 0.9;
    font-size: 1.1rem;

    @media (min-width: 768px) {
      font-size: 1.3rem;
    }
  }

  .notional {
    font-size: 1.8rem;
    font-weight: 600;

    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }
}

.tokenImageContainer {
  height: 5.8rem;
  width: 5.8rem;
  border-radius: 50%;
  background-color: var(--hl-foam);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;

  @media (min-width: 768px) {
    height: 7.8rem;
    width: 7.8rem;
  }
}

.tokenImage {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  filter: drop-shadow(0 0 4px var(--hl-foam));

  @media (min-width: 768px) {
    height: 8rem;
    width: 8rem;
  }
}
