.auditsContainer {
  width: 100%;
  padding: 2.4rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  @media (min-width: 768px) {
    padding: 6rem 0;
  }
}

.title {
  font-size: 3.2rem;
  font-weight: 300;
  color: var(--primary-text);
  line-height: 135%;
  margin: 0;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;

  border: 1px solid var(--primary-200-or-secondary-400);
  border-radius: 0.8rem;
  padding: 4.6rem 4rem;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.text {
  font-size: 1.9rem;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  * {
    font-family: "Libre Baskerville";
    color: var(--primary-text);
  }

  @media (min-width: 1024px) {
    text-align: start;
    max-width: 36rem;
  }

  a {
    font-size: 1.6rem;
    text-decoration: underline;
    cursor: pointer;
  }
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    flex: 1;
  }

  a {
    cursor: pointer;
  }
}
