.approvalStepper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.buttonContainer {
  transition: scale 0.25s ease;
}

.buttonContainer:hover {
  scale: 1.01;
}

.buttonContainer.disabled:hover {
  scale: 1;
}

.stepper :global(.MuiStepIcon-root) {
  font-size: 2.4rem;
  color: var(--primary-500);
  opacity: 0.35;
  overflow: visible;

  text {
    font-family: "Sora", sans-serif;
    font-size: 1.4rem;
    text-anchor: middle;
  }
}

.stepper :global(.MuiStepIcon-root text) {
  transform: translateY(0.12rem);
  dominant-baseline: middle;
}

.stepper :global(.MuiStepIcon-root.Mui-completed) {
  color: var(--primary-500);
  font-size: 2.4rem;
  opacity: 1;
}

.stepper :global(.MuiStepIcon-root.Mui-active) {
  color: var(--primary-500);
  font-size: 2.4rem;
  opacity: 1;
}

.stepper :global(.MuiStepLabel-label) {
  font-size: 1.2rem;
  font-family: "Sora", sans-serif;
  font-weight: 400;
  color: var(--grey-400);
  display: flex;
  align-items: center;
  gap: 0.8rem;
  line-height: normal;
}

.stepper :global(.MuiStepLabel-label.Mui-active) {
  color: var(--main);
}

.stepper :global(.MuiStepLabel-label.Mui-completed) {
  color: var(--main);
}

.stepLabel {
  span {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.stepLabelPending {
  background-color: var(--info-100);
  color: var(--info-500);
  padding: 0.4rem 0.8rem;
  border-radius: 0.8rem;
}

.stepLabelError {
  background-color: var(--error-100);
  color: var(--error-500);
  padding: 0.4rem 0.8rem;
  border-radius: 0.8rem;
}

.stepLabelSuccess {
  background-color: var(--success-100);
  color: var(--success-500);
  padding: 0.4rem 0.8rem;
  border-radius: 0.8rem;
}
